{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
<div>
<h1> Give your request </h1>
<form method="POST" class="post-form" action=>
     {{form.as_p}}
     <button type="submit" class="save btn btn-default">Save</button>
     <a href="{% url 'staffloggedin' %}"> Click to see other requests</a> 
</form>
</div>
{% endblock %}