{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Manage Requests</title>
</head>
<body>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<h1>Welcome to Care 24 Request Management System</h1>
<div>
	<form method="get" action="{%url 'loggin' %}" >
    <button type="submit">Request Login</button>
</form>

<form method="get" action="{%url 'stafflogin' %}" >
    <button type="submit">Staff Login</button>
</form>

</div>
 {% block content %}
 
 {% endblock %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
</body>
</html>
