{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
<div>
  <h1>Request: {{req.id}}</h1>
  <ul>
    <li>user: {{req.user}}</li>
    <li>type: {{req.Make_Request_type}}</li>
    <li>priority: {{req.priority}}</li>
    <li>description: {{req.description}}</li>
    <li>sample: {{req.sample}}</li>
    <li>status: {{req.status}}</li>
    <li>approved by: {{req.approval_by}}</li>
    <li>assigned to: {{req.assigned_to}}</li>
    <li>created: {{req.created}}</li>
    <li>lastmodified: {{req.modified}}</li>
  </ul>
  <a href="{% url 'loggedin' %}"> Click to see other Make_Requests</a> 
</div>

{% endblock %}