{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
<div>
	<form method="POST" class="post-form">
     {{form.as_p}}
     <button type="submit" class="save btn btn-default">Save</button> 
</form>
<a href="">See result</a>
<a href="{% url 'loggedin' %}">Go back</a>
</div>
{% endblock %}