{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
<div>
    <div class= "container">
        <div class="row">
            <div class=col-md-6>
                <h1> Give your request </h1>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                   {{form.as_p}}
                   <button type="submit" class="save btn btn-default">Save</button> 
               </form>
               <a href="{% url 'logout' %}"> Click to logout</a>
               <a href="{% url 'password-change' %}">Reset Password</a>     
           </div>


           <div class=col-md-6> 
             <!-- <div class="container"> -->
                 <div class="row"> 
                   <a class="col-md-12" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">Approved Request</a>
                   <div class="collapse" id="collapseExample1">
                   <div class="card card-block">
                    <ul> 
                        {% for request in reqapproved %}
                        <li>
                          <a href="{% url 'displayrequest' pk=request.pk %}">{{request.id}}</a>
                      </li>
                      {% endfor %}

                  </ul>
                  </div>
              </div>

              <a class="btn col-md-12" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Pending Request</a>
              <div class="collapse" id="collapseExample2">
              <div class="card card-block">
               <ul>
                   {% for request in reqpending %}
                   <li><a href="{% url 'displayrequest' pk=request.pk %}">{{request.id}}</a></li>
                   {% endfor %}
               </ul>
               </div>
           </div>



           <a class="btn col-md-12" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">Assigned Request</a>
           <div class="collapse" id="collapseExample3">
           <div class="card card-block">
            <ul>
               {% for request in reqassg %}
               <li><a href="{% url 'changestatus' pk=request.pk %}">{{request.id}}</a></li>
               {% endfor %}
           </ul>
           </div>
       </div>
   </div>
</div>
</div>
</div>
<!-- </div> -->

<!-- <h2> You inquired about this </h2>
	{% for inquiry in inquiredabt %}
<h3><a href="{% url 'getdatetime' pk=inquiry.pk %}">{{inquiry.request.id}} : {{inquiry.status_required}}</a></h3>
{% endfor %} -->

</div>

{% endblock %}
