{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
        
	<form action="{% url 'auth' %}" method="post">
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username: 
		<input type="text" name="username" value="" id="username" /><br />
		password:
		<input type="password" name="password" value="" id="password" /><br />

		<input type="submit" value="Log In" />
	</form>


{% endblock %}
