{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
<div>
  <h1>Request: {{req.id}}</h1>
  <ul>
    <li>user: {{req.user}}</li>
    <li>type: {{req.reqtype}}</li>
    <li>priority: {{req.priority}}</li>
    <li>description: {{req.description}}</li>
    <li>sample: {{req.sample}}</li>
    <li>status: {{req.status}}</li>
    <li>created: {{req.created}}</li>
    <li>lastmodified: {{req.latestdate}}</li>
  </ul>
</div>
<div>
<form method="POST" class="post-form">
     {{form.as_p}}
     <button type="submit" class="save btn btn-default">Save</button> 
</form>
<a href="{% url 'staffloggedin' %}">Go back</a>
</div>
{% endblock %}
