{% extends 'manage/base.html' %}
{% load static %}
{% block content %}
<div>
<h1>Request List</h1>
{% for request in reqlist %}
<h2><a href="{% url 'req_detail' pk=request.pk %}">{{request.id}}</a></h2>
{% endfor %}
<a href="{% url 'stafflogout' %}"> Click to logout</a> 
</div>
{% endblock %}
